@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fira+Sans:ital,wght@1,200&family=Kanit:ital,wght@1,200;1,900&family=Lobster&family=Noto+Sans+Mono:wght@300&family=Passions+Conflict&family=Permanent+Marker&family=Roboto&family=Shadows+Into+Light&display=swap');

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
  
:root{
    --background-image: linear-gradient(rgba(30, 4, 7, 0.1),rgba(30, 4, 7, 0.14)), url(img/bg12.jpg);
    --background-header: linear-gradient(rgba(30, 4, 7, 0.156),rgba(30, 4, 7, 0.14)), url(img/header2.gif);
    --primary-color: #edf2fc;
    --secondary-color: #edf2fc;
    --thirty-color: #7e777a8e;
    --fourty-color: #6a564c;
}

.dark-theme{
    --background-image: linear-gradient(rgba(30, 4, 7, 0.1),rgba(30, 4, 7, 0.14)), url(img/bg-dark.jpg);
    --background-header : linear-gradient(rgba(30, 4, 7, 0.156),rgba(30, 4, 7, 0.14)), url(img/dark-header.gif);
    --primary-color: #000106ea;
    --secondary-color: #fff;
    --thirty-color: #7e777a8e;
    --fourty-color: rgba(0, 0, 0, 0.5);
}

#icon{
    width: 30px;
    cursor: pointer;
    position: relative;
}



body{
    background-image: var(--background-image);
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
}

header{
    min-height: 70vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-image: var(--background-header);
    background-position: center;
    background-size: cover;
    padding : 1px;
}

header img{
    margin-top:20px;
    margin-left: 40px;
}

h1{ 
    font-family: 'Roboto', sans-serif;
    color : var(--secondary-color);
    font-size: 40px;
    padding-top: 120px;
    padding-left: 60px;
}

.box-nav {
    border : 0px solid;
    margin-top : 5px;
}

.button-nav{
    border : 0px solid;
    margin: 1px;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    position: sticky;
}

nav ul {
    list-style: none;
    cursor: pointer;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px;
    font-weight: 250px;
    padding-left: 30px;
}

nav ul li:hover {
    margin : 10px;
    border-bottom: 3px solid#9b98af;
    transition: all .3s ease;
    border : 0px solid;
}

nav ul li a {
    margin : 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

ul li{
    list-style: none;
}

footer{
    text-align: center;
    height: 40px;
    border:0px solid;
    background-color: #998070;
}

footer p {
    font-size: 13px;
    padding-top : 10px;
    color : #6a564c;
    font-weight: bold;
}

.logo {
    margin-top : 20px;
    margin-right: 90px;
}

.parent-konten1 {
    margin-top : 50px;
    border : 2px solid  white;
    width : 100%;
    height : 50%;
    display : flex;
    justify-content: space-between;
    border-radius: 50%;
}

h2{
    border : 0px;
    margin-top : 50px;
    font-family:'Kanit', sans-serif;
    color : rgba(255, 255, 255, 0.895);
    text-shadow: 5px 5px 4px #6a564c;
    font-size: 30px;
    padding-left: 200px;
    width : 50%;
    font-size: 20px;
    padding-bottom: 0px;
}

h3 {
    border : 0px;
    margin-top : 50px;
    font-family:'Kanit', sans-serif;
    color : rgba(255, 255, 255, 0.895);
    text-shadow: 5px 5px 4px #6a564c;
    font-size: 30px;
    width : 50%;
    font-size: 20px;
    padding-bottom: 0px;
    margin-left: 100px;
}

p {
    margin-top : 50px;
    font-family:'Kanit', sans-serif;
    color : rgba(255, 255, 255, 0.895);
    font-size: 20px;
}

.img-konten1 {
    margin-top: 50px;
    border : 0px;
    border-radius: 50%;
    padding-right: 200px;
}

.border-teks1{
    border : 0px solid;
    width: 400px;
    padding-left: 80px;
}

.border-teks2{
    border : 0px solid;
    width: 400px;
    padding-right: 40px;
}

.hightlight{
    background-color: var(--fourty-color);
    color:#fff;
    padding:5px;
    font-size: 13px;
    border-radius: 20px;
}

footer{
    text-align: center;
    height: 60px;
    border:0px solid;
    background-color: var(--fourty-color);
}

footer p {
    font-size: 15px;
    padding-top : 10px;
    color : var(--secondary-color);
    font-weight: bold;
}

.parent-konten2 {
    /* background-color: var(--thirty-color); */
    margin-top : 50px;
    border : 0px;
    width : 70%;
    height : 50%;
    display : flex;
    justify-content: space-between;
}

.img-konten2-1 {
    margin-top: 50px;
    border : 0px;
    padding-left: 200px;
    border-radius: 50px;

}

.img-konten2-2 {
    margin-top: 200px;
    border : 0px;
    padding-left: 100px;
    border-radius: 50px;

}

.border-reserv{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:var(--secondary-color);    
    text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.479);
    margin-right: 100px
}


.button-reserv{
    margin-top: 35px;
    padding-top : 13px;
    padding-right: 50px;
    color: #b9c1db;
    background-color: var(--thirty-color);   
    border : 5px solid none;
    height : 40px;
    width: 175px;
    border-radius: 20px;
    font-size: 20px;

}

.button a, .button-reserv a{
    margin : 10px;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
