@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fira+Sans:ital,wght@1,200&family=Kanit:ital,wght@1,200;1,900&family=Lobster&family=Noto+Sans+Mono:wght@300&family=Passions+Conflict&family=Permanent+Marker&family=Roboto&family=Shadows+Into+Light&display=swap');

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}


body{
    background-image: url(https://i.pinimg.com/originals/70/3a/30/703a30dec77ebeb993cb5a0a852653d9.jpg);
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
}


header{
    min-height: 20vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(30, 4, 7, 0.156),rgba(30, 4, 7, 0.14)), url(https://64.media.tumblr.com/98bf15fbe2024a9d774635b890aa7219/tumblr_nowypmkPF01qckzoqo2_500.gifv);
    background-position: center;
    background-size: cover;
    padding : 1px;
}

header img{
    margin-top:40px;
    margin-left: 40px;
}

h1{ 
    font-family: 'Roboto', sans-serif;
    color : white;
    font-size: 30px;
    padding: 60px;
}

.box-nav {
    border : 0px solid;
    background-color: #998070;
    margin-top : 5px;
}

.button-nav{
    border : 0px solid;
    margin: 1px;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    position: sticky;
}

nav ul {
    list-style: none;
    cursor: pointer;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px;
    font-weight: 250px;
    padding-left: 30px;
}

nav ul li:hover {
    margin : 10px;
    border-bottom: 3px solid#9b98af;
    transition: all .3s ease;
    border : 0px solid;
}

nav ul li a {
    margin : 10px;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

footer{
    text-align: center;
    height: 70px;
    border:0px solid;
    background-color: #998070;
}

footer p {
    font-size: 15px;
    padding-top : 10px;
    color : #6a564c;
    font-weight: bold;
}