#body {
   font-family: 'Nunito';
   background-image: url(https://i.pinimg.com/originals/39/0e/2d/390e2db62720fed76ee70ba073a35bf1.jpg);
   background-size: 100%;
}

#login-card {
   width: 350px;
   border-radius: 25px;
   margin: 150px auto;
} 

.text-center{
    color : #b29d84;
}
.text-center-h1{
   color : white;
}

#email, #password, .small{
   border-radius: 30px;
   background-color: #ebf0fc3f;
   border-color: #ebf0fc3f;
   color: #9da3b0;
   
}

#button {
   border-radius: 30px;
   background-color: grey;
   border-color: none;
}

#btn {
   position: absolute;
   bottom: -35px;
   padding: 5px;
   margin: 0px 55px;
   align-items: center;
   border-radius: 5px"

}

#container {
   margin-top: 25px;
}

.btn-circle.btn-sm {
   width: 40px;
   height: 40px;
   padding: 2px 0px;
   border-radius: 25px;
   font-size: 14px;
   text-align: center;

   margin: 8px;
} 



