@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fira+Sans:ital,wght@1,200&family=Kanit:ital,wght@1,200;1,900&family=Lobster&family=Noto+Sans+Mono:wght@300&family=Passions+Conflict&family=Permanent+Marker&family=Roboto&family=Shadows+Into+Light&display=swap');

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}


body{
    background-image: linear-gradient(rgba(30, 4, 7, 0.1),rgba(30, 4, 7, 0.14)), url(bg1.jpg);
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
}

header{
    min-height: 20vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(30, 4, 7, 0.156),rgba(30, 4, 7, 0.14)), url(header.gif);
    background-position: center;
    background-size: cover;
    padding : 1px;
}

header img{
    margin-top:40px;
    margin-left: 40px;
}

h1{ 
    font-family: 'Roboto', sans-serif;
    color : white;
    font-size: 30px;
    padding: 60px;
}

.box-nav {
    border : 0px solid;
    background-color: #998070;
    margin-top : 5px;
}

.button-nav{
    border : 0px solid;
    margin: 1px;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    position: sticky;
}

nav ul {
    list-style: none;
    cursor: pointer;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px;
    font-weight: 250px;
    padding-left: 30px;
}

nav ul li:hover {
    margin : 10px;
    border-bottom: 3px solid#9b98af;
    transition: all .3s ease;
    border : 0px solid;
}

nav ul li a {
    margin : 10px;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

.parent-konten-1 {
    border : 5px solid #b297a6;
    background-image: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: -70px;
    padding-top: 100px;
    border-radius: 50%;
}

ul li{
    list-style: none;
}

#konten1{
    margin-top: -70px;
    padding-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#konten1-1{
    border : 3px solid white;
    margin-top: -30px;
    padding-top: 50px;
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

h3 {
    margin-top : 50px;
    font-family: 'Noto Sans Mono', monospace; 
    color : #6a564c;
    text-shadow: 5px 5px 4px #ffffff;
    font-size: 30px;
}

h2{
    margin-top : 50px;
    font-family:'Kanit', sans-serif;
    color : rgba(255, 255, 255, 0.895);
    text-shadow: 5px 5px 4px #6a564c;
    font-size: 30px;
}

p {
    margin-top : 50px;
    font-family:'Kanit', sans-serif;
    color : rgba(255, 255, 255, 0.895);
    font-size: 20px;
}

.parent-konten-2, .parent-konten-3 {
    border : 3px solid none;
    background-color: #7e777a8e;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 20px;
    padding-top: 100px;
    border-radius: 50%;
}

#konten2{
    margin-top: -70px;
    padding-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#konten-none{
    background-color: none;
    border : 0px;
    margin-top: -70px;
    padding-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#konten3{
    margin-top: -70px;
    padding-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#konten3-1, #konten2-1{
    background-color: #6a564c;
    border : 3px solid white;
    margin-top: -70px;
    padding-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.hightlight{
    background-color: #6a564c;
    color:#fff;
    padding:5px;
    font-size: 13px;
    border-radius: 20px;
}

.hightlight-1{
    background-color: rgba(255, 255, 255, 0.377);
    color:#6a564c;
    padding:5px;
    font-size: 13px;
    border-radius: 20px;
}

.button{
    margin-top: 35PX;
    padding-top : 13px;
    background-color: #b297a6;   
    border : 5px solid none;
    height : 40px;
    width: 350px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 60px;
}

.button a, .button-reserv a{
    margin : 10px;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.button-reserv{
    margin-top: 35px;
    padding-top : 13px;
    padding-right: 50px;
    color: #b9c1db;
    background-color: #6a564c;   
    border : 5px solid none;
    height : 40px;
    width: 175px;
    border-radius: 20px;
    font-size: 20px;

}
.border-reserv{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;    
    text-shadow: 5px 5px 4px #6a564c;
    margin-right: 100px
}

footer{
    text-align: center;
    height: 70px;
    border:0px solid;
    background-color: #998070;
}

footer p {
    font-size: 15px;
    padding-top : 10px;
    color : #6a564c;
    font-weight: bold;
}

.logo {
    margin-top : 20px;
    margin-right: 90px;
}
